<div>
    <h1>Lista de productos en tiempo real</h1>
    <ul class="ul-container-list">
    </ul>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/websockets/realTimeProducts.js"></script>
</div>