<div>
    <h1>Reestablecer contraseña</h1>
    <form id="resetPasswordForm">
        <label for="newPassword">Password</label>
        <input type="password" name="newPassword" required />
        <br>

        <input type="submit" value="Ingresar" />
    </form>
</div>
<script src="/js/resetPassword.js"></script>